<div class="container px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/images/hero.webp" class="d-block mx-lg-auto img-fluid rounded-5" [alt]="'HOMEPAGE.HERO_IMAGE_ALT' | translate"
                width="700" height="500" priority>
        </div>
        <div class="col-lg-6">
            <h1 class="fw-bold lh-1 mb-3">{{ 'HOMEPAGE.BRAND_NAME' | translate }}</h1>
            <p class="lead">{{ 'HOMEPAGE.BRAND_SLOGAN' | translate }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a type="button" class="btn btn-primary btn-lg px-4 mt-4" routerLink="/categories">{{ 'HOMEPAGE.BROWSE_NOW' | translate }}</a>
            </div>
        </div>
    </div>
</div>