<footer class="mt-5">
  <div class="bg-primary py-3">
    <div class="container">
      <div class="help row">
        <div class="col-lg-5 text-white">
          <h3>{{ 'FOOTER.NEED_HELP' | translate }}</h3>
          <p>{{ 'FOOTER.CONTACT_US_TEXT' | translate }}</p>
        </div>
        <div class="col-lg-7">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-center my-3">
              <div class="icon me-2 rounded-circle bg-white d-flex justify-content-center align-items-center">
                <i class="fa fa-message"></i>
              </div>
              <div class="">
                <h4 class="fs-6">{{ 'FOOTER.OUR_CHAT' | translate }}</h4>
                <p>{{ 'FOOTER.TALK_TO_US' | translate }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center my-3">
              <div class="icon me-2 rounded-circle bg-white d-flex justify-content-center align-items-center">
                <i class="fa fa-phone"></i>
              </div>
              <div class="">
                <h4 class="fs-6">{{ 'FOOTER.OUR_PHONE' | translate }}</h4>
                <p>+20 1029147032</p>
              </div>
            </div>
            <div class="d-flex align-items-center my-3">
              <div class="icon me-2 rounded-circle bg-white d-flex justify-content-center align-items-center">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="">
                <h4 class="fs-6">{{ 'FOOTER.OUR_EMAIL' | translate }}</h4>
                <p>souknamasry22@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom bg-light py-5">
    <div class="container">
      <div class="row">
        <!-- Sell with us -->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="fw-semibold mb-3">{{ 'FOOTER.SELL_WITH_US' | translate }}</h5>
          <ul class="list-unstyled m-0 p-0">
            <li class="mb-2">{{ 'FOOTER.BUSINESS' | translate }}</li>
          </ul>
        </div>

        <!-- Our terms & service -->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="fw-semibold mb-3">{{ 'FOOTER.TERMS_SERVICE' | translate }}</h5>
          <ul class="list-unstyled m-0 p-0">
            <li class="mb-2">
              <a href="#" class="text-dark text-decoration-none">{{ 'FOOTER.TERMS_CONDITIONS' | translate }}</a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-dark text-decoration-none">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
            </li>
          </ul>
        </div>

        <!-- Category -->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="fw-semibold mb-3">{{ 'FOOTER.CATEGORY' | translate }}</h5>
          <ul class="list-unstyled m-0 p-0">
            <li class="mb-2">
              <a href="#" class="text-dark text-decoration-none">{{ 'FOOTER.CLOTHES' | translate }}</a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-dark text-decoration-none">{{ 'FOOTER.HOUSEWARES' | translate }}</a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-dark text-decoration-none">{{ 'FOOTER.MAKEUP' | translate }}</a>
            </li>
          </ul>
        </div>

        <!-- Follow us -->
        <div class="col-lg-3 col-md-6">
          <h5 class="fw-semibold mb-3">{{ 'FOOTER.FOLLOW_US' | translate }}</h5>
          <div class="d-flex gap-2">
            <a href="#"
              class="text-decoration-none d-inline-flex align-items-center justify-content-center bg-white text-dark rounded p-2"
              style="width: 40px; height: 40px" aria-label="Facebook">
              <i class="fab fa-facebook fs-5"></i>
            </a>
            <a href="#"
              class="text-decoration-none d-inline-flex align-items-center justify-content-center bg-white text-dark rounded p-2"
              style="width: 40px; height: 40px" aria-label="Instagram">
              <i class="fab fa-instagram fs-5"></i>
            </a>
            <a href="#"
              class="d-inline-flex text-decoration-none align-items-center justify-content-center bg-white text-dark rounded p-2"
              style="width: 40px; height: 40px" aria-label="Twitter">
              <i class="fab fa-twitter fs-5"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>