/* global style */
p,h1,h2,h3,h4,h5,h6{
margin: 0;
padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box !important;
}
:root{
 --color-secondary:#ece2df;
 --color-secondary-300:#ECE2DF;
 --color-secondary-50:#F6F1EF;
 --color-primary:#fd7e35;
 --color-dark-brown:#9E3C02;
 --color-light:#FEBF9A;
}

.section-spacing{
  margin: 100px 0;
  /* padding: 100px 0; */
}

.bg-secondary{
 background-color: var(--color-secondary) !important;
}
.text-secondary{
 color: var(--color-secondary) !important;
}
.bg-primary{
 background-color: var(--color-primary) !important;
}
.text-primary{
 color: var(--color-primary) !important;
}

.bg-dark-brown{
 background-color: var(--color-dark-brown) !important;
}
.text-dark-brown{
 color: var(--color-dark-brown) !important;
}
.bg-light{
 background-color: var(--color-light) !important;
}
/* global style */
